html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.navbar {
  -webkit-transition: height 0.5s, line-height 0.5s;
  transition: height 0.5s, line-height 0.5s;
}
.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}
.counter {
  width: 20px;
  height: 20px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}
.navbar-custom {
  background-color: white;
  height: 100px;
}
.navbar-brand {
  color: black;
  font-size: 25px;
  font-family: "Spartan", sans-serif;
  position: absolute;
  padding-left: 100px;
}
.imagelogo {
  position: relative;
}
.image {
  height: 540px;
  overflow: hidden;
  /* border: solid red 2px; */
  border-bottom: solid black 1px;
}
.image img {
  width: 100%;
}
.col-6 {
  position: absolute;
}
.intro {
  margin-left: 100px;
  margin-top: 100px;
  color: white;
  width: 600px;
  /* border: solid red 2px; */
  height: 300px;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.btn1 {
  font-family: "Barlow Condensed", sans-serif;
  color: black;
  letter-spacing: 1px;
  line-height: 10px;
  border: 1px solid black;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  padding: 13px;
  font-size: 20px;
}
.btn1:hover {
  background-color: black;
  color: white;
}
#navbarNav ul li a {
  padding: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
.logo {
  width: 5px;
  height: 5px;
  color: black;
}
.navbar-nav * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbar-nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}
.navbar-nav a {
  /* padding: 0 0.7em; */
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.navbar-nav a:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  top: 0;
  bottom: 0;
  border-left: 1px solid #000000;
}
.navbar-nav a:hover,
.navbar-nav .current a {
  color: #ffffff;
}
.navbar-nav a:hover:before,
.navbar-nav .current a:before {
  opacity: 1;
  left: 0;
}
.vl {
  border-left: 1px solid white;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-top: 150px;
  top: 0;
  margin-left: -20px;
}
.hi {
  position: absolute;
  color: black;
  margin-left: 117px;
  margin-top: 110px;
  font-size: 30px;
}
.check {
  margin-left: 130px;
  margin-top: 150px;
}
.highlight {
  background-color: white;
  color: black;
}
.intro h2 {
  margin-top: 20px;
  letter-spacing: 8px;
}
.name {
  font-size: 70px;
  font-family: "Spartan", sans-serif;
  letter-spacing: 0px;
  color: white;
}
.body {
  border: solid black 1px;
  height: 100px;
  width: 70%;
  margin-top: -50px;
  border-radius: 500px;
  background-color: white;
  position: absolute;
  margin-left: 200px;
  content: "";
  clear: both;
  display: table;
}
.language {
  float: left;
  margin-top: 9px;
}
.language img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
.language img:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: none;
}
* {
  box-sizing: border-box;
}

.eight {
  /* border: solid blue 2px; */
  background-color: #e6e6e6;
}
.about {
  height: 400px;
  margin-top: 100px;
}
.self {
  font-family: "Spartan", sans-serif;
  padding-top: 50px;
  padding-left: 20px;
}
.lorem {
  width: 600px;
  /* border: solid red 2px; */
  padding-left: 20px;
  padding-top: 10px;
}
.parallax {
  background-image: url(../img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.folio {
  font-size: 50px;
  color: #e2e2e2;
  text-align: center;
  padding-top: 80px;
  font-family: "Spartan", sans-serif;
}
.cards {
  height: 600px;
}

.touch {
  border-radius: 0 !important;
  background-color: white !important;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 29px;
}
.hood {
  height: 130px;
  width: 350px;
  background-color: #e6e6e6;
  margin-top: 10px;
}
.title {
  font-family: "Spartan", sans-serif;
  padding-top: 20px;
  padding-left: 10px;
}
.titlelang {
  font-family: "Barlow Condensed", sans-serif;
  padding-left: 10px;
}
.visit {
  border-radius: 0 !important;
  background-color: #909091 !important;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  margin-top: -70px;
  margin-left: 250px;
  letter-spacing: 3px;
}
.visit:hover {
  background-color: #a2a2a2 !important;
  color: white;

}
.oneproject:hover {
  border-left: solid black 2px;
}
.oneproject {
  margin-top: 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer {
  height: 450px;
  /* border: solid red 2px; */
  margin-top: 200px;
  background-color: #6f7180;
  overflow: auto;
}
.me {
  text-align: center;
  color: white;
  padding-top: 50px;
  font-family: "Spartan", sans-serif;
}
.details {
  margin-top: 50px;
  font-family: "Spartan", sans-serif;

}
.details h2 {
  padding-top: 10px;
}
.names {
  border-radius: 0 !important;
  background: none !important;
  color: white;
  width: 400px;
}
.form-control {
  background: transparent;
  border-radius: 0 !important;
  box-shadow: none;
  border-color: white !important;
  color: black;
}
.form-control:focus, .form-control:active {
  background: transparent;
  box-shadow: none;
  border-color: white !important;
  border-bottom: solid white 3px;
  color: white;
  font-family: "Spartan", sans-serif
}
.link svg {
  padding-left: 3px;
}
.send {
  border-radius: 0 !important;
  background-color: white !important;
  color: black;
  text-align: center;
  /* width: 400px; */
}
.send:hover {
  background: transparent !important;
  color: white;
  border: solid white 1px;
}
.intro i {
  color: white !important;
  font-size: 20px;
}