.navbar-custom {
  background-color: white;
  height: 100px;
}
.navbar-brand {
  color: black;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
}
.image {
  height: 540px;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.btn1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  letter-spacing: 1px;
  line-height: 10px;
  border: 1px solid black;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  padding: 13px;
  font-size: 20px;
}
#navbarNav ul li a {
  padding: 20px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}
